<ul>
  <% @sorted_items.each do |item| %>
    <li><%= link_to item.item_name, item_path(item), class: "btn btn-primary"%></li>
  <% end %>
</ul>

<%= link_to "create new item", items_new_path, class: "create-item-btn" %>
