<% if current_user == user %>
  <h4>You Are Here</h4>
  <p><%= user.address %></p>
<% else %>
  <% if current_user == @receipt.user %>
    <h4>Seller location</h4>
  <% else %>
    <h4>Buyer location</h4>
  <% end %>
  <h6><%= user.fullname %></h6>
  <p><%= user.address %></p>
<% end %>
