<div class="container">
  <div class="profile d-flex justify-content-center">
    <h2>Profile</h2>
  </div>
  <div class="container d-flex flex-wrap justify-content-around">
    <div class="profile-card">
      <h4>My Items For Sale</h4>
        <% @sell.each do |s| %>
          <% if s.receipt.nil? %>
            <p>For Sale: <%= link_to s.item_name, item_path(s)%></p>
            <% else %>
            <p>Sold: <%= link_to s.item_name, receipt_path(s.receipt)%></p>
          <% end %>
        <% end %>
    </div>
    <div class="profile-card">
      <h4>Bought Items</h4>
        <% @buy.each do |b| %>
          <p><%= link_to b.item.item_name, receipt_path(b)%></p>
        <% end %>
    </div>
</div>
